<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

		Product (text): <input type="text" ng-model="v_product" /><br />
		Quantity (number): <input type="number" ng-model="v_quantity" /><br />
		Cost (number): <input type="number" ng-model="v_cost" /> $<br />

		<br />

		<!-- String expressions -->
		<h2>{{ v_product+' hello '+v_quantity }}</h2>
		--- <br />

		<!-- simple display of ng-bind -->
		Product: {{ v_product }} <br />
		Quantity: <span ng-bind="v_quantity"></span><br />

		<!-- expression can also use ng-bind variables -->
		Total amount for above is: {{ v_quantity*v_cost }} $ <br />
		and 5+5 is {{ 5+5 }}, 3rd element from v_list is {{ v_list[2] }}. 

		<!-- repetition -->
		<ul>for each v_num in v_list{{v_list}}:
			<li ng-repeat="v_num in v_list">
				For v_list index {{$index}} : v_num is {{v_num }}
			</li>
		</ul>
	</div>

	<script>
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope) {
		// initiation of the ng-bind vars
		$scope.v_product= "Magic Marker";
		$scope.v_quantity= 2;
		$scope.v_cost= 10;
		$scope.v_list=[1,3,5,7,9,11,13];
	});
	</script>

</body>
</html>